:root {
  --color_purple_basic: #b53bfd;
  --color_purple_light: #e8deea;
  --color_blue_basic: #6587f4;
  --color_orange_basic: #f17528;
  --color_green_basic: #4a963c;
  --color_black_basic: #333333;
  --color_black_dark: #000;
  --color_white_basic: #fff;
  --color_gray_basic: #666;
  --color_green_primary: #41b2a5;
  --color_coral_primary: #f48b84;
}

.color_purple_text {
  color: var(--color_purple_basic);
}
.color_green_text {
  color: #0ea88a;
}
.color_black_text {
  color: var(--color_black_dark);
}
.color_red_text {
  color: #ff5c5c;
}
.color_yellow_text {
  color: #ffc909;
}

.font_content1 {
  font-size: 21px;
  font-family: "Pretendard-Bold";
  line-height: 30px;
  text-align: center;
}
.font_content2 {
  font-size: 16px;
  font-family: "Pretendard-Medium";
  line-height: 25px;
  text-align: center;
}
.font_content3 {
  font-size: 14px;
  font-family: "Pretendard-Medium";
  text-align: center;
}
.font_button {
  font-size: 12px;
  font-family: "Pretendard-Medium";
}

@media screen and (min-width: 430px) and (max-width: 833px) {
  .font_content1 {
    font-size: 25px;
    font-family: "Pretendard-Bold";
    line-height: 34px;
  }
  .font_content2 {
    font-size: 20px;
    font-family: "Pretendard-Medium";
    line-height: 25px;
  }
  .font_content3 {
    font-size: 16px;
    font-family: "Pretendard-Medium";
  }
}

@media screen and (min-width: 834px) {
  .font_content2 {
    font-size: 25px;
    font-family: "Pretendard-SemiBold";
    line-height: 32px;
  }
  .font_content3 {
    font-size: 20px;
    font-family: "Pretendard-Medium";
    line-height: 25px;
  }
  .font_button {
    font-size: 16px;
    font-family: "Pretendard-SemiBold";
  }
}

/*  header -------------------------------------------- */

header {
  width: 90%;
  display: flex;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
  transition: all 500ms ease-in;
}
header img {
  display: block;
  width: 25px;
  height: 25px;
}
header div {
  width: auto;
  height: auto;
  margin-left: 10px;
}

.centerClass {
  margin-left: 50%;
  transform: translateX(-50%);
}
.centerWrap {
  display: flex;
  justify-content: center;
}
.centerWrap div {
  margin-left: 5px;
}

/*  eventprice page -------------------------------------------- */

.commonContainer {
  width: 100%;
  height: auto;
}
.commonContainer ul {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.commonContainer li {
  width: 100%;
  border-radius: 15px;
  margin: 10px 0;
}
.contntsPiece {
  height: auto;
  border: 2px solid black;
}
.thinContntsPiece {
  height: auto;
  border: 1px solid black;
}
.contntsPiece img,
.thinContntsPiece img {
  width: 100%;
}

.iconWrap {
  display: flex;
  padding: 10px 0;
}
.iconWrap-iconPart {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.iconWrap-iconPart img {
  width: 50px;
  height: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}
.iconWrap-iconPart > span {
  width: 100%;
  display: block;
  text-align: center;
  font-family: "Pretendard-Medium";

  color: var(--color_gray_basic);
}

.iconWrap-textPart {
  width: 60%;
}
.iconWrap-textPart > span {
  display: block;
  padding: 5px;
}
.iconWrap-textPart span {
  font-size: 18px;
  font-family: "Pretendard-Bold";
}
.iconWrap-textPart-smallSize span {
  font-size: 16px;
}
.iconWrap-textPart div {
  position: relative;
  display: inline-block;
  width: 20px;
  margin: 0 2px;
}
.iconWrap-textPart img {
  position: absolute;
  display: block;
  top: -9px;
}

/* component : EventPrice */
/* 이벤트 가격 */
.pricePiece {
  position: relative;
  display: flex;
  height: 120px;
  background-color: var(--color_white_basic);
  font-family: "OSeongandHanEum";
  margin: 20px 0;
  transition: all 500ms ease-in;
}
.pricePiece > img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 14px 0 0 10px;
  transition: all 500ms ease-in;
}
.pricePiece > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 100%;
  padding: 30px 6px;
}
.pricePiece > div > span {
  display: block;
  font-size: 14px;
  padding: 6px 0;
  transition: all 500ms ease-in;
}
.pricePiece > div i {
  width: auto;
  height: 100%;
  display: inline-block;
  padding: 0 6px;
}
.pricePiece svg {
  height: 12px;
  width: 12px;
  padding: 0 8px;
}
.cancleText {
  position: relative;
  padding: 0 2px;
}
.cancleText span {
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 50%;
  margin: 0 auto;
  width: 100%;
  height: 2px;
}

.pricePiece > i:last-child {
  position: absolute;
  display: block;
  right: -10px;
  top: 50%;
  bottom: 50%;
  margin: auto 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--color_orange_basic);
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  color: var(--color_white_basic);
}

/* ============================================================= */
/* component : common */
.buttonWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px;
}
.buttonWrap button,
.buttonWrap a {
  display: inline-block;
  width: auto;
  min-width: 110px;
  height: auto;
  padding: 8px 14px;
  margin: 0 10px;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
}

.contentsWrap button,
.contentsWrap a {
  border: 4px solid black;
  padding: 4px 25px;
}

/* mob size ============================================================= */
@media screen and (max-width: 599px) {
  header {
    max-width: 350px;
  }
  /*  eventprice page -------------------------------------------- */
  .priceWrap {
    max-width: 350px;
  }
}

/* tab, pc size ============================================================= */
@media screen and (min-width: 600px) {
  header {
    width: 550px;
  }
  header img {
    width: 30px;
    height: 30px;
  }
  header span,
  header h2 {
    font-size: 20px;
  }
  header h2 {
    font-family: "Pretendard-Bold";
  }
  /*  eventprice page -------------------------------------------- */
  .commonContainer ul {
    width: 550px;
  }
  .iconWrap {
    padding: 20px 0;
  }
  .pricePiece {
    position: relative;
    display: flex;
    width: 100%;
    height: 180px;
    background-color: var(--color_white_basic);
    border-radius: 15px;
    font-family: "OSeongandHanEum";
    margin: 20px 0;
  }
  .pricePiece > img {
    width: 150px;
    height: 150px;
    margin: 20px 20px 0;
  }
  .pricePiece > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 180px);
    height: 100%;
    padding: 30px 10px;
  }
  .pricePiece > div > span {
    display: block;
    font-size: 20px;
    padding: 14px 0;
  }

  .pricePiece svg {
    height: 15px;
    width: 15px;
    padding: 0 8px;
  }
  .pricePiece > i:last-child {
    right: -22px;
    width: 45px;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
  }

  .buttonWrap button,
  .buttonWrap a {
    min-width: 110px;
    margin: 0 12px;
    font-size: 20px;
  }
}

/* Prompotion =========================================================== */
.visualBox {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--color_green_primary);
}
.visualBox::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -30vh;
  width: 100%;
  height: 100%;
  background-image: url("../assets/imgs/promotion_cardbg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 0.2;
  clip: rect(0px, 100vw, 70vh, 0px);
}
.visualContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}
.visualBox_coklogo {
  width: 131px;
  height: auto;
  margin-bottom: 40px;
}
.visualBox_moblie {
  display: block;
  width: 314px;
  height: auto;
  margin-bottom: 35px;
  margin-left: 50%;
  transform: translateX(-50%);
}
button > img {
  width: auto;
  height: 14px;
  margin-right: 4px;
  transform: translateY(2px);
}
.visualBox_spanWrap > span {
  display: block;
  text-align: center;
  color: var(--color_white_basic);
  margin-bottom: 25px;
}
.visualBox_buttonWrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.visualBox_buttonWrap button {
  width: auto;
  height: auto;
  padding: 4px 10px;
  border-radius: 4px;
  background-color: var(--color_black_basic);
  color: var(--color_white_basic);
  margin: 0 4px;
}
/* mob size ============================================================= */
@media screen and (min-width: 430px) and (max-width: 833px) {
  .visualContainer {
    padding-top: 20%;
  }
  .visualBox_coklogo {
    width: 194px;
  }
  .visualBox_moblie {
    width: 574px;
    height: auto;
    margin-bottom: 60px;
  }
  .visualBox_buttonWrap button {
    padding: 4px 16px;
  }
}

/* tab, pc size ============================================================= */
@media screen and (min-width: 834px) {
  .visualContainer {
    padding-top: 180px;
  }
  .visualBox_coklogo {
    width: 194px;
  }
  button > img {
    height: 18px;
    margin-right: 8px;
  }
  .visualBox_buttonWrap button {
    padding: 4px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .visualBox_contentWrap {
    display: flex;
    justify-content: center;
  }
  .visualBox_moblie {
    width: 468px;
    height: auto;
    margin-left: 0;
    transform: translateX(0);
    margin-right: 35px;
  }
  .visualBox_texttWrap {
    width: auto;
    justify-content: left;
  }
  .visualBox_texttWrap span {
    text-align: left;
  }
  .visualBox_buttonWrap {
    justify-content: left;
  }
}
/* promotionUserMeontion ========================================= */
.userMentionBox {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--color_black_basic);
}
.userMentionBox::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../assets/imgs/promition_userMentionBox_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}
.userMentionContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 120px;
}
.userMentionContainer > img {
  display: none;
}
.mentionContent_Wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mentionContent {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 4px 4px;
  border-radius: 6px;
  background-color: var(--color_white_basic);
  font-size: 12px;
  margin: 5px;
}
.mentionContent img {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
.mentionContent span {
  display: inline-block;
}

.userMentionBox .font_content1 {
  text-align: center;
  color: var(--color_white_basic);
}
.userMentionBox .font_content1 span {
  display: block;
}
.userMentionBox .font_content2 {
  color: var(--color_white_basic);
}
@media screen and (min-width: 430px) and (max-width: 833px) {
  .mentionContent {
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 8px;
  }
}

/* tab, pc size ============================================================= */
@media screen and (min-width: 720px) and (max-width: 1279px) {
  .userMentionContainer {
    padding-top: 25%;
  }
  .userMentionContainer > img {
    display: block;
    width: 380px;
    margin-bottom: 40px;
    transform: translateX(-30%);
  }
  .mentionContent_Wrap > div:first-child {
    margin: 5px 100px;
  }
  .mentionContent {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    margin: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .userMentionContainer {
    padding-top: 4%;
  }
  .userMentionBox .font_content1 {
    display: flex;
    justify-content: center;
  }
  .userMentionBox .font_content1 span {
    margin-left: 8px;
  }
  .userMentionContainer > img {
    display: block;
    width: 440px;
    margin-bottom: 40px;
    transform: translateX(-30%);
  }
  .mentionContent_Wrap {
    width: 900px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .mentionContent_Wrap > div:first-child {
    margin: 5px 100px;
  }
  .mentionContent {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    margin: 8px;
  }
}
